*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 200vh;
    font-family: 'Poppins';
    /* background-image: url('/static/textures/background.jpg'); */
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    /* z-index: -1; */
}

.section {
    height: 50vh;
}
